{% extends "stats/base.html" %}
{% load url from future %}
{% load general %}

{% block title %}About | Gentoostats{% endblock title %}

{% block content %}
    {% h1 "About Gentoostats" %}

    <p>The Gentoostats project aims to collect and analyse various statistics about Gentoo systems.</p>
    <p>This is an updated version of Gentoostats for GSoC 2012 and is based on the work of Vikraman Choudhury for his GSoC 2011 project, "Gentoostats".</p>
    </br>
    <p>More information <a href="https://github.com/gg7/gentoostats">here</a>.</p>
{% endblock content %}
