{% extends "stats/base.html" %}
{% load url from future %}
{% load package_helpers %}

{% block head %}
    <script src="{{ STATIC_URL }}/d3.2.10.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/jquery-1.8.0.min.js"></script>
    {{ block.super }}

    <script type="text/javascript">
    window.onload = function() {
        var data = [];
        for (i = 0; i < 10; i++) {
                data.push(Math.floor(100 * Math.random()));
        }

        var maxWidth = $("div.stats_table").width();

        var chart = d3.select("div.stats_table")
            .append("svg")
                .attr("width", maxWidth)
                .attr("height", data.length * 25);

        var selection = chart.selectAll("whatev")
            .data(data)
            .enter();

        // Add the item name:
        var names = selection
            .append("text")
                .attr("x", 0)
                .attr("y", function(d, i) { return (25 * i) + 20; } )
                .attr("width", 150)
                .attr("height", 20)
                .style("font-size", "20px")
                .style("text-anchor", "right")
                .text("Hi there");

        maxNameWidth = d3.max($("text").map(function(){return $(this).width();}).get())

        // Add the item bar:
        var bars = selection
            .append("rect")
                .attr("x", 200)
                .attr("y", function(d, i) { return 25 * i; } )
                .attr("width", 0)
                .attr("height", "20")
                .attr("stroke", "none") // no borders
                .attr("fill", "#07da19")

        var visibleBars = d3.selectAll("rect")
            .transition().duration(1500).delay(200)
            .attr("width", function(d) { return maxWidth * d / 100; } )
            .attr("fill", "rgb(102,73,231)");

        // Transition on click managed by jQuery
        bars.on('click', function() {
            // Generate randomly a data set with 10 elements
            var newData = [];
            for (var i=0; i<10; i+=1) { newData.push(Math.floor(100 * Math.random())); }

            // Generate a random color
            var newColor = 'rgb(' + Math.floor(255 * Math.random()) +
                             ', ' + Math.floor(255 * Math.random()) +
                             ', ' + Math.floor(255 * Math.random()) + ')';

            bars.data(newData)
                 .transition().duration(1000).delay(200)
                 .attr("fill", newColor)
                 .attr("width", function(d) { return maxWidth * d / 100; })
                 .attr("height", "20");
        });
    }
    </script>
{% endblock head  %}

{% block title %}Application Statistics | Gentoostats {% endblock title %}

{% block content %}
    <h1>Application Statistics</h1>
    <div class="break_div"></div>

    <div class="stats_table">
    </div>

    {% for section in stats %}
        {% with cat=section|first apps=section|tail %}

        <h2>{{ cat }}</h2>
        {% endwith %}
    {% endfor %}
{% endblock content %}
