{% load url from future %}
{#{% spaceless %}#}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            {% block head %}
                <title>{% block title %}Gentoostats{% endblock %}</title>
            {% endblock head %}
        </head>

        <body>
            {% block body %}
                <div id="header">
                    {% block header %}
                        <ul>
                            <li><a href="{% url 'stats:index_url' %}">Home</a></li>
                            <li><a href="{% url 'stats:about_url' %}">About</a></li>
                        </ul>
                    {% endblock header %}
                </div>

                <div id="content">
                    {% block content %}{% endblock content %}
                </div>

                <div id="footer">
                    {% block footer %}{% endblock footer %}
                </div>
            {% endblock body %}
        </body>
    </html>
{#{% endspaceless %}#}
