{% extends "stats/base.html" %}
{% load url from future %}
{% load general %}

{% block title %}Detailed FEATURE Statistics | Gentoostats {% endblock title %}

{% block content %}
    {% with django_sucks="Detailed FEATURE Statistics for '"|append:feature|append:"'" %}
        {% h1 django_sucks %}
    {% endwith %}

    <ul>
        <li>Present in {{ feature.num_submissions|default:"?" }} submission{{ feature.num_submissions|default:2|pluralize }}.</li>
        <li>Currently used by {{ feature.num_hosts|default:"?" }} host{{ feature.num_hosts|default:2|pluralize }}.</li>
        <li>Has been used by {{ feature.num_all_hosts|default:"?" }} host{{ feature.num_all_hosts|default:2|pluralize }}.</li>
        <li>First appeared in DB on {{ feature.added_on|default:"?" }}.</li>
    </ul>
{% endblock content %}
