{% extends "stats/base.html" %}
{% load url from future %}

{% block title %}Overall Statistics | Gentoostats {% endblock title %}

{% block content %}
    <h1>Overall statistics</h1>
    <div class="break_div"></div>

    {% if hosts.count %}
        <p>Total hosts: {{ hosts.count }}</p>
        <div class="break_div"></div>

        {% if country_stats %}
            <h2>Country statistics</h2>
            <table border="1">
                <th>Country</th>
                <th>Hosts</th>
                {% for country, num_hosts in country_stats %}
                    <tr>
                        <td>{{ country|default_if_none:"Unknown" }}</td>
                        <td>{{ num_hosts }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        <h2>Submissions</h2>
        <div class="break_div"></div>
        <p>Total submissions: {{ submissions.count }}</p>
        <p>Latest submissions:</p>
        <ul>
            {% for submission in submissions|slice:":10" reversed %}
                <li><a href="{{ submission.get_absolute_url }}">[{{ submission.datetime|date:"Y.m.d H:i" }}] ARCH: {{ submission.arch|default:"unknown" }}, ACCEPT_KEYWORDS: {{ submission.global_keywords.all|join:", " }}</a></li>
            {% endfor %}
        </ul>

        <h2>Architectures</h2>
        <table border="1">
            <th>Arch</th>
            <th>Hosts</th>
            {% for arch, num_hosts in arch_stats %}
                <tr>
                    <td><a href="{% url 'stats:arch_details_url' arch=arch %}">{{ arch }}</a></td>
                    <td>{{ num_hosts }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2>Keywords</h2>
        <table border="1">
            <th>Keyword</th>
            <th>Hosts</th>
            {% for keyword in keywords %}
                <tr>
                    <td><a href="{{ keyword.get_absolute_url }}">{{ keyword }}</a></td>
                    <td>{{ keyword.num_hosts_fast|default_if_none:keyword.num_hosts|default_if_none:"?" }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2>Profiles</h2>
        <table border="1">
            <th>Profile</th>
            <th>Hosts</th>
            {% for profile, num_hosts in profile_stats %}
                <tr>
                    <td><a href="{% url 'stats:profile_details_url' profile=profile %}">{{ profile }}</a></td>
                    <td>{{ num_hosts }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2>FEATUREs</h2>
        <table border="1">
            <th>FEATURE</th>
            <th>Hosts</th>
            {% for feature in features %}
                <tr>
                    <td><a href="{{ feature.get_absolute_url }}">{{ feature }}</a></td>
                    <td>{{ feature.num_hosts_fast|default_if_none:feature.num_hosts|default_if_none:"?" }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2>$LANG statistics</h2>
        <table border="1">
            <th>$LANG</th>
            <th>Hosts</th>
            {% for lang in langs %}
                <tr>
                    <td>{{ lang }}</td>
                    <td>{{ lang.num_hosts_fast|default_if_none:lang.num_hosts|default_if_none:"?" }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>No submissions (and hosts) are present yet.</h2>
    {% endif %}
{% endblock content %}
