{% extends "stats/base.html" %}
{% load url from future %}

{% block title %}Home | Gentoostats{% endblock title %}

{% block content %}
    <h1>Available Statistics</h1>
    <ul>
        <li><a href="{% url 'stats:overall_stats_url' %}">Overall stats</a></li>
        <li><a href="{% url 'stats:app_stats_url' %}">App stats</a></li>
        <li><a href="{% url 'stats:host_search_url' %}">Host search</a></li>
        <li><a href="{% url 'stats:useflag_stats_url' %}">USE stats</a></li>
        <li><a href="{% url 'stats:repository_stats_url' %}">Repository stats</a></li>
        <li><a href="{% url 'stats:category_stats_url' %}">Category stats</a></li>
        <li><a href="{% url 'stats:mirror_stats_url' %}">Mirror stats</a></li>
        <li><a href="{% url 'stats:sync_stats_url' %}">Sync stats</a></li>
    </ul>
{% endblock content %}
