{% extends "stats/base.html" %}
{% load url from future %}
{% load package_helpers %}
{% load general %}

{% block title %}Detailed Submission Statistics | Gentoostats {% endblock title %}

{% block content %}
    {% with django_sucks="Detailed Submission Statistics for submission #"|append:submission.id %}
        {% h1 django_sucks %}
    {% endwith %}

    {% include 'stats/submission_simple.html' with submission=submission %}

    <li>Installed packages:</li>
    {% with installations=submission.installations.select_related.all %}
        {% if installations %}
            <ul>
            {% for installation in installations %}
                <li>{{ installation.package }} [{{ installation|format_use_flags }}] ({{installation.built_at}})</li>
            {% endfor %}
            </ul>
        {% else %}
            <li>None or not reported.</li>
        {% endif %}
    {% endwith %}
{% endblock content %}
