{% extends "stats/base.html" %}
{% load url from future %}
{% load general %}

{% block title %}Detailed USE Flag Statistics | Gentoostats {% endblock title %}

{% block content %}
    {% with django_sucks="Detailed USE Flag Statistics for '"|append:useflag|append:"'" %}
        {% h1 django_sucks %}
    {% endwith %}

    <ul>
        <li>Present in {{ num_submissions|default:"?" }} submission{{ num_submissions|default:2|pluralize }}.</li>
        <li>Currently used by {{ num_hosts|default:"?" }} host{{ num_hosts|default:2|pluralize }}.</li>
        <li>Has been used by {{ num_all_hosts|default:"?" }} host{{ num_all_hosts|default:2|pluralize }}.</li>
        <li>First appeared in DB on {{ useflag.added_on|default:"?" }}.</li>
    </ul>
{% endblock content %}
